{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<h1 class="m-5 text-center">Éditer mon profil</h1>
    <div class="container-fluid col-lg-8">
        {{ form_start(editForm) }}
        <div class="mb-2 mt-4">
            {{ form_label(editForm.lastName, null, { 'label_attr': { 'class': 'form-label' }}) }}
            {{ form_widget(editForm.lastName, {'attr': { 'class': 'form-control'}}) }}
            {{ form_errors(editForm.lastName ) }}
        </div>
        <div class="mb-2 mt-4">
            {{ form_label(editForm.firstName, null, { 'label_attr': { 'class': 'form-label' }}) }}
            {{ form_widget(editForm.firstName, {'attr': { 'class': 'form-control'}}) }}
            {{ form_errors(editForm.firstName ) }}
        </div>
        <div class="mb-2 mt-4">
            {{ form_label(editForm.resume, null, { 'label_attr': { 'class': 'form-label' }}) }}
            {{ form_widget(editForm.resume, {'attr': { 'class': 'form-control'}}) }}
            {{ form_errors(editForm.resume ) }}
        </div>
        <div class="mt-4 d-flex justify-content-center">{{ form_widget(editForm.submit, { 'attr': {'class': 'btn btn-primary'} }) }}</div>

        {{ form_end(editForm) }}
    </div>
{% endblock %}