{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

    <h1 class="m-5 text-center">Inscription</h1>
    <div class="container-fluid col-lg-8">
        {{ form_start(form) }}
        {{ form_row(form._token) }}
        <div class="mb-2 mt-4">
            {{ form_label(form.email, null, { 'label_attr': { 'class': 'form-label' }}) }}
            {{ form_widget(form.email, {'attr': { 'class': 'form-control'}}) }}
            {{ form_errors(form.email ) }}
        </div>
        <div class="mb-2 mt-4">
            {{ form_label(form.role, null, { 'label_attr': { 'class': 'form-label' }}) }}
            {{ form_widget(form.role, {'attr': { 'class': 'form-control'}}) }}
            {{ form_errors(form.role ) }}
        </div>
        <div class="mb-2 mt-4">
            {{ form_label(form.password, null, { 'label_attr': { 'class': 'form-label' }}) }}
            {{ form_widget(form.password, {'attr': { 'class': 'form-control'}}) }}
            {{ form_errors(form.password ) }}
        </div>
        <div class="mt-4 d-flex justify-content-center">{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}</div>
        {{ form_end(form) }}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success mt-4 text-center">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
